html {
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    height: 100%;
    display: flex;
    flex-direction: column;

}

nav {
    color: #777777;
   
}

.bio {
    flex: 1 0 auto;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: Left;
}

/* .name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    margin: 0 auto;
    padding: 20px;
} */

.selection {
    text-decoration: none;
    color: #777777;
}

.push {
    height: 50px;
}

.footer {
    flex-shrink: 0;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
 }